/* Hide main containers or sections */
/* main, header, footer, section, .container, .wrapper {
    display: none;
}

/* Explicitly display the specific element and its necessary parent elements */

#b-product-page-form-1 {
    display: none;
}

/* Taken from cato blog */

/* This is the entire header! */
/* body > div.wrapper > header > div.container-fluid > div {
    display: none;
} */


/* This is partial headers */

body > div.wrapper > header > div.container-fluid > div {
    display: none;
}

#trinity-audio-tab {
    display: none;
}

body > div.wrapper > header > div.breadcrumbs-wrapper > div > div {
    display: none;
}


body > div.wrapper > footer {
    display: none;  
}

body > div.wrapper > article > footer > div {
    display: none;
}

body > div.wrapper > div > div > div.c-background__content > div > div > ul {
    display: none;
}

body > div.wrapper > article > div > div.article__related-topics {
    display: none;
}

body > div.wrapper > div > div.c-announcement-bar.c-announcement-bar--bottom.c-announcement-bar--bottom-visible > div > div.c-background__content > div > div > ul {
    display: none;
}

body > div.wrapper > div > footer {
    display: none;
}

body > div.wrapper > div > div.page-default__body > article > div > div > div > div.article-primary__content > section.c-links-table {
    display: none;
}

body > div.wrapper > div > div.c-announcement-bar.c-announcement-bar--bottom.c-announcement-bar--bottom-visible { 
    display: none;
}

body > div.wrapper > div > div.c-announcement-bar.c-announcement-bar--bottom.c-announcement-bar--bottom-visible > div > div.c-background__content > div > div {
    display: none;
}

/* The SD-WAN Article */
#b-accordion-1 > div > div.c-background__image.c-background__image--desktop-tablet.c-background__image--desktop-mobile.c-background__image--desktop {
    display: none;
}

/* GigaOm */

#wrapper-navbar {
    display: none;
}

#wrapper-footer {
    display: none;
}